

body {
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#gameContainer {
    font-family: "Permanent Marker", cursive;
    text-align: center;
}

#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: 20px auto;
}

.cell {
    width: 75px;
    height: 75px;
    border: 2px solid #000;
    box-shadow: 0 0 0 2px #000;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    user-select: none;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
